# Allstate Claims Severity Prediction Project

## Introduction

For this project, we take part in an expired Kaggle competition that was sponsored by Allstate. As an insurance provider, Allstate wanted to get better insight into how severe a claim of an insured person would be based upon a set of features. I'll let Kaggle explain the rest:

"Allstate is currently developing automated methods of predicting the cost, and hence severity, of claims. In this recruitment challenge, Kagglers are invited to show off their creativity and flex their technical chops by creating an algorithm which accurately predicts claims severity. Aspiring competitors will demonstrate insight into better ways to predict claims severity for the chance to be part of Allstate’s efforts to ensure a worry-free customer experience."

Our model will be scored with the Mean Absolute Error metric. Let's begin!

### Preprocessing

In [14]:
# As always, we import our necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [15]:
# First things first: we load in our datasets
train = pd.read_csv('allstate_train.csv')
test = pd.read_csv('allstate_test.csv')

In [16]:
# Let's get an idea of what our datasets look like
train

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188313,587620,A,B,A,A,A,A,A,A,B,...,0.242437,0.289949,0.24564,0.30859,0.32935,0.223038,0.220003,0.333292,0.208216,1198.62
188314,587624,A,A,A,A,A,B,A,A,A,...,0.334270,0.382000,0.63475,0.40455,0.47779,0.307628,0.301921,0.318646,0.305872,1108.34
188315,587630,A,B,A,A,A,A,A,B,B,...,0.345883,0.370534,0.24564,0.45808,0.47779,0.445614,0.443374,0.339244,0.503888,5762.64
188316,587632,A,B,A,A,A,A,A,A,B,...,0.704364,0.562866,0.34987,0.44767,0.53881,0.863052,0.852865,0.654753,0.721707,1562.87
188317,587633,B,A,A,B,A,A,A,A,A,...,0.844563,0.533048,0.97123,0.93383,0.83814,0.932195,0.946432,0.810511,0.721460,4751.72

According to the competition rules, we are trying to predict the loss column. The "cat" columns are categorical variables while the "cont" variables are continuous. This is pretty obvious. As always, the first thing we should do is understand how dirty our dataset is currently.

In [17]:
# We have 132 columns. Ample room to have null values. Let's check the Null value situation for both datasets
train.isnull().sum().value_counts()

0    132
dtype: int64

In [18]:
# And for our test set?
test.isnull().sum().value_counts()

0    131
dtype: int64

Nice, no null values. Note that the difference in column numbers is because the test set excludes the "loss" column. In any event, we can proceed to feature engineering.

### Categorical Variables

I always like to understand how to handle the categorical variables of any dataset. Luckily, because we don't have any null values, we will not have to perform median/mean imputation.

In [19]:
# First, let's understand if there are any other categorical variables outside of A and B
# We first isolate the categorical columns
categorical_columns = [c for c in train.columns if train[c].dtype == 'O']

In [20]:
# We then iterate over these columns and return their respective value counts to see if there is a 'C' or 'D' variable
col_number = 0
for c in categorical_columns:
    col_number += 1
    freq = train[c].value_counts()
    print(f"The distribution of the cat{col_number} column is\n{freq}\n")

The distribution of the cat1 column is
A    141550
B     46768
Name: cat1, dtype: int64

The distribution of the cat2 column is
A    106721
B     81597
Name: cat2, dtype: int64

The distribution of the cat3 column is
A    177993
B     10325
Name: cat3, dtype: int64

The distribution of the cat4 column is
A    128395
B     59923
Name: cat4, dtype: int64

The distribution of the cat5 column is
A    123737
B     64581
Name: cat5, dtype: int64

The distribution of the cat6 column is
A    131693
B     56625
Name: cat6, dtype: int64

The distribution of the cat7 column is
A    183744
B      4574
Name: cat7, dtype: int64

The distribution of the cat8 column is
A    177274
B     11044
Name: cat8, dtype: int64

The distribution of the cat9 column is
A    113122
B     75196
Name: cat9, dtype: int64

The distribution of the cat10 column is
A    160213
B     28105
Name: cat10, dtype: int64

The distribution of the cat11 column is
A    168186
B     20132
Name: cat11, dtype: int64

The distribution of the cat12 column is
A    159825
B     28493
Name: cat12, dtype: int64

The distribution of the cat13 column is
A    168851
B     19467
Name: cat13, dtype: int64

The distribution of the cat14 column is
A    186041
B      2277
Name: cat14, dtype: int64

The distribution of the cat15 column is
A    188284
B        34
Name: cat15, dtype: int64

The distribution of the cat16 column is
A    181843
B      6475
Name: cat16, dtype: int64

The distribution of the cat17 column is
A    187009
B      1309
Name: cat17, dtype: int64

The distribution of the cat18 column is
A    187331
B       987
Name: cat18, dtype: int64

The distribution of the cat19 column is
A    186510
B      1808
Name: cat19, dtype: int64

The distribution of the cat20 column is
A    188114
B       204
Name: cat20, dtype: int64

The distribution of the cat21 column is
A    187905
B       413
Name: cat21, dtype: int64

The distribution of the cat22 column is
A    188275
B        43
Name: cat22, dtype: int64

The distribution of the cat23 column is
A    157445
B     30873
Name: cat23, dtype: int64

The distribution of the cat24 column is
A    181977
B      6341
Name: cat24, dtype: int64

The distribution of the cat25 column is
A    169969
B     18349
Name: cat25, dtype: int64

The distribution of the cat26 column is
A    177119
B     11199
Name: cat26, dtype: int64

The distribution of the cat27 column is
A    168250
B     20068
Name: cat27, dtype: int64

The distribution of the cat28 column is
A    180938
B      7380
Name: cat28, dtype: int64

The distribution of the cat29 column is
A    184593
B      3725
Name: cat29, dtype: int64

The distribution of the cat30 column is
A    184760
B      3558
Name: cat30, dtype: int64

The distribution of the cat31 column is
A    182980
B      5338
Name: cat31, dtype: int64

The distribution of the cat32 column is
A    187107
B      1211
Name: cat32, dtype: int64

The distribution of the cat33 column is
A    187361
B       957
Name: cat33, dtype: int64

The distribution of the cat34 column is
A    187734
B       584
Name: cat34, dtype: int64

The distribution of the cat35 column is
A    188105
B       213
Name: cat35, dtype: int64

The distribution of the cat36 column is
A    156313
B     32005
Name: cat36, dtype: int64

The distribution of the cat37 column is
A    165729
B     22589
Name: cat37, dtype: int64

The distribution of the cat38 column is
A    169323
B     18995
Name: cat38, dtype: int64

The distribution of the cat39 column is
A    183393
B      4925
Name: cat39, dtype: int64

The distribution of the cat40 column is
A    180119
B      8199
Name: cat40, dtype: int64

The distribution of the cat41 column is
A    181177
B      7141
Name: cat41, dtype: int64

The distribution of the cat42 column is
A    186623
B      1695
Name: cat42, dtype: int64

The distribution of the cat43 column is
A    184110
B      4208
Name: cat43, dtype: int64

The distribution of the cat44 column is
A    172716
B     15602
Name: cat44, dtype: int64

The distribution of the cat45 column is
A    183991
B      4327
Name: cat45, dtype: int64

The distribution of the cat46 column is
A    187436
B       882
Name: cat46, dtype: int64

The distribution of the cat47 column is
A    187617
B       701
Name: cat47, dtype: int64

The distribution of the cat48 column is
A    188049
B       269
Name: cat48, dtype: int64

The distribution of the cat49 column is
A    179127
B      9191
Name: cat49, dtype: int64

The distribution of the cat50 column is
A    137611
B     50707
Name: cat50, dtype: int64

The distribution of the cat51 column is
A    187071
B      1247
Name: cat51, dtype: int64

The distribution of the cat52 column is
A    179505
B      8813
Name: cat52, dtype: int64

The distribution of the cat53 column is
A    172949
B     15369
Name: cat53, dtype: int64

The distribution of the cat54 column is
A    183762
B      4556
Name: cat54, dtype: int64

The distribution of the cat55 column is
A    188173
B       145
Name: cat55, dtype: int64

The distribution of the cat56 column is
A    188136
B       182
Name: cat56, dtype: int64

The distribution of the cat57 column is
A    185296
B      3022
Name: cat57, dtype: int64

The distribution of the cat58 column is
A    188079
B       239
Name: cat58, dtype: int64

The distribution of the cat59 column is
A    188018
B       300
Name: cat59, dtype: int64

The distribution of the cat60 column is
A    187872
B       446
Name: cat60, dtype: int64

The distribution of the cat61 column is
A    187596
B       722
Name: cat61, dtype: int64

The distribution of the cat62 column is
A    188273
B        45
Name: cat62, dtype: int64

The distribution of the cat63 column is
A    188239
B        79
Name: cat63, dtype: int64

The distribution of the cat64 column is
A    188271
B        47
Name: cat64, dtype: int64

The distribution of the cat65 column is
A    186056
B      2262
Name: cat65, dtype: int64

The distribution of the cat66 column is
A    179982
B      8336
Name: cat66, dtype: int64

The distribution of the cat67 column is
A    187626
B       692
Name: cat67, dtype: int64

The distribution of the cat68 column is
A    188176
B       142
Name: cat68, dtype: int64

The distribution of the cat69 column is
A    188011
B       307
Name: cat69, dtype: int64

The distribution of the cat70 column is
A    188295
B        23
Name: cat70, dtype: int64

The distribution of the cat71 column is
A    178646
B      9672
Name: cat71, dtype: int64

The distribution of the cat72 column is
A    118322
B     69996
Name: cat72, dtype: int64

The distribution of the cat73 column is
A    154275
B     34017
C        26
Name: cat73, dtype: int64

The distribution of the cat74 column is
A    184731
B      3561
C        26
Name: cat74, dtype: int64

The distribution of the cat75 column is
A    154307
B     34010
C         1
Name: cat75, dtype: int64

The distribution of the cat76 column is
A    181347
B      6183
C       788
Name: cat76, dtype: int64

The distribution of the cat77 column is
D    187503
C       408
B       358
A        49
Name: cat77, dtype: int64

The distribution of the cat78 column is
B    186526
A       788
C       645
D       359
Name: cat78, dtype: int64

The distribution of the cat79 column is
B    152929
D     26657
A      7064
C      1668
Name: cat79, dtype: int64

The distribution of the cat80 column is
D    137505
B     46538
C      3492
A       783
Name: cat80, dtype: int64

The distribution of the cat81 column is
D    154385
B     24132
C      9013
A       788
Name: cat81, dtype: int64

The distribution of the cat82 column is
B    147536
A     19322
D     18805
C      2655
Name: cat82, dtype: int64

The distribution of the cat83 column is
B    141534
A     26038
D     15788
C      4958
Name: cat83, dtype: int64

The distribution of the cat84 column is
C    154939
A     29450
D      3498
B       431
Name: cat84, dtype: int64

The distribution of the cat85 column is
B    186005
C      1011
A       788
D       514
Name: cat85, dtype: int64

The distribution of the cat86 column is
B    103852
D     72587
C     10290
A      1589
Name: cat86, dtype: int64

The distribution of the cat87 column is
B    166992
D     11719
C      8819
A       788
Name: cat87, dtype: int64

The distribution of the cat88 column is
A    168926
D     19302
E        83
B         7
Name: cat88, dtype: int64

The distribution of the cat89 column is
A    183744
B      4312
C       220
D        33
E         5
I         2
H         1
G         1
Name: cat89, dtype: int64

The distribution of the cat90 column is
A    177993
B      9515
C       728
D        70
E         6
F         4
G         2
Name: cat90, dtype: int64

The distribution of the cat91 column is
A    111028
B     42630
G     26734
C      6400
D      1149
E       254
F        97
H        26
Name: cat91, dtype: int64

The distribution of the cat92 column is
A    124689
H     62901
B       628
C        62
I        26
D        11
F         1
Name: cat92, dtype: int64

The distribution of the cat93 column is
D    150237
C     35788
B      1133
E       728
A       432
Name: cat93, dtype: int64

The distribution of the cat94 column is
D    121642
B     51710
C     13623
A       738
F       494
E        91
G        20
Name: cat94, dtype: int64

The distribution of the cat95 column is
C    87531
D    79525
E    17417
A     3736
B      109
Name: cat95, dtype: int64

The distribution of the cat96 column is
E    174360
D      7922
B      2957
G      2665
F       343
A        35
C        24
I        12
Name: cat96, dtype: int64

The distribution of the cat97 column is
C    78127
E    47450
A    41970
G    16745
D     3779
F      213
B       34
Name: cat97, dtype: int64

The distribution of the cat98 column is
A    105492
D     50557
C     21485
E     10242
B       542
Name: cat98, dtype: int64

The distribution of the cat99 column is
P    79455
T    72591
R    10290
D     8844
S     7045
N     2894
K     2703
F     2702
E     1034
C      310
J      245
H       93
M       52
I       38
G       19
O        3
Name: cat99, dtype: int64

The distribution of the cat100 column is
F    42970
I    39933
L    19961
K    13817
G    12935
J    12027
H    10776
A     9402
N     7592
B     6608
O     5697
M     5185
C      836
D      553
E       26
Name: cat100, dtype: int64

The distribution of the cat101 column is
A    106721
D     17171
C     16971
G     10944
F     10139
J      7259
I      6690
M      3669
L      3173
Q      2762
O      2493
S       173
R       138
E         7
B         3
K         2
N         1
H         1
U         1
Name: cat101, dtype: int64

The distribution of the cat102 column is
A    177274
B      5155
C      4929
E       482
D       449
G        15
F        12
H         1
J         1
Name: cat102, dtype: int64

The distribution of the cat103 column is
A    123737
B     33342
C     16508
D      7806
E      4473
F      1528
G       550
H       190
I       109
J        45
L        17
K        11
N         2
Name: cat103, dtype: int64

The distribution of the cat104 column is
E    42925
G    40660
D    27611
F    19228
H    17187
K    14297
I    10919
C     6949
L     3486
J     3138
M     1156
O      409
N      153
P       86
A       68
B       43
Q        3
Name: cat104, dtype: int64

The distribution of the cat105 column is
E    76493
F    62892
G    20613
D    12172
H    11258
I     2941
J      694
K      486
C      275
M      171
L      145
A       77
N       64
P       15
O        9
B        5
Q        4
R        2
T        1
S        1
Name: cat105, dtype: int64

The distribution of the cat106 column is
G    47165
H    37713
F    36143
I    21433
J    18281
E    13000
K     7958
L     2971
D     1934
M     1176
N      231
C      129
A       75
O       66
R       32
B        9
P        2
Name: cat106, dtype: int64

The distribution of the cat107 column is
F    47310
G    28560
H    23461
J    22405
K    20236
I    20066
E    12521
L     6976
D     3225
M     2067
N      797
C      213
Q      140
O      125
P      100
A       75
U       32
R        5
B        2
S        2
Name: cat107, dtype: int64

The distribution of the cat108 column is
B    65512
K    42435
G    21421
D    19160
F    10242
A     9299
E     7968
I     7243
H     4305
C      520
J      213
Name: cat108, dtype: int64

The distribution of the cat109 column is
BI    152918
AB     21933
BU      3142
K       2999
G       1353
       ...
CB         1
BP         1
J          1
AG         1
AK         1
Name: cat109, Length: 84, dtype: int64

The distribution of the cat110 column is
CL    25305
EG    24654
CS    24592
EB    21396
CO    17495
      ...
BI        1
BM        1
BD        1
BK        1
S         1
Name: cat110, Length: 131, dtype: int64

The distribution of the cat111 column is
A    128395
C     32401
E     14682
G      7039
I      3578
K      1353
M       473
O       221
Q        91
S        38
W        16
U        16
B         7
F         3
D         3
Y         2
Name: cat111, dtype: int64

The distribution of the cat112 column is
E     25148
AH    18639
AS    17669
J     16222
AF     9368
AN     9138
N      8453
U      8356
AV     7122
AK     6726
K      6059
AI     4749
S      4201
AP     4000
G      3168
F      3149
AW     3145
A      2411
AR     2365
C      2257
O      2183
D      1645
AD     1531
AY     1414
Y      1351
AG     1331
AT     1272
AA     1241
AM     1170
AL     1130
R      1123
AX     1074
I       940
X       925
AE      834
Q       793
V       693
H       548
AO      534
T       521
L       493
W       461
AC      454
M       439
AU      434
B       423
P       406
AB      246
BA      190
AJ      144
AQ       30
Name: cat112, dtype: int64

The distribution of the cat113 column is
BM    26191
AE    22030
L     13058
AX    12661
Y     11374
      ...
T         2
B         1
P         1
AC        1
AR        1
Name: cat113, Length: 61, dtype: int64

The distribution of the cat114 column is
A    131693
C     16793
E     16475
J      8199
F      7905
N      2455
I      2432
R       912
L       870
U       250
O       240
Q        43
V        33
B         6
D         5
S         4
X         1
W         1
G         1
Name: cat114, dtype: int64

The distribution of the cat115 column is
K    43866
O    26813
J    23895
N    22438
P    21538
L    16125
M    12444
Q     8258
I     7090
H     2793
R     2038
G      315
F      269
S      250
A       75
T       56
U       26
E       11
W        6
X        5
D        4
B        2
C        1
Name: cat115, dtype: int64

The distribution of the cat116 column is
HK    21061
DJ    20244
CK    10162
DP     9202
GS     8736
      ...
JN        1
BF        1
AD        1
FP        1
AE        1
Name: cat116, Length: 326, dtype: int64

Notice in the later columns, post cat73, we start to see more variables than solely A & B. In fact, in some of the columns, namely the last column, we have 326 different possible scenarios. This leaves us with an interesting dilemma. If we were to perform dummy encoding, we would had 326 new columns to the already 200+ columns that we just added.

We will perform dummy variable creation, however, we might want to come back and think of a better way to handle them.

In [21]:
# We'll create a function to handle this
def categorical_conversion(dataset):
    for c in categorical_columns:  # We iterate over our categorical columns
        cats = pd.get_dummies(dataset[c], prefix=f'{c}')  # We then create the dummy variable columns 
        dataset = pd.concat([dataset, cats], axis=1)  # We then append these columns to the end of the dataframe
        dataset.drop(c, axis=1, inplace=True)  # We then drop the original column
    return dataset

In [22]:
# We then apply our function to our dataframe
new_train = categorical_conversion(train)

In [23]:
# Let's take a look to see if our conversion worked
new_train.head()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat116_P,cat116_Q,cat116_R,cat116_S,cat116_T,cat116_U,cat116_V,cat116_W,cat116_X,cat116_Y
0,1,0.726300,0.245921,0.187583,0.789639,0.310061,0.718367,0.335060,0.30260,0.67135,...,0,0,0,0,0,0,0,0,0,0
1,2,0.330514,0.737068,0.592681,0.614134,0.885834,0.438917,0.436585,0.60087,0.35127,...,0,0,0,0,0,0,0,0,0,0
2,5,0.261841,0.358319,0.484196,0.236924,0.397069,0.289648,0.315545,0.27320,0.26076,...,0,0,0,0,0,0,0,0,0,0
3,10,0.321594,0.555782,0.527991,0.373816,0.422268,0.440945,0.391128,0.31796,0.32128,...,0,0,0,0,0,0,0,0,0,0
4,11,0.273204,0.159990,0.527991,0.473202,0.704268,0.178193,0.247408,0.24564,0.22089,...,0,0,0,0,0,0,0,0,0,0

### Feature Matrix and Target Column Construction for Training and Test Sets

In [24]:
# We now proceed to defining our feature maxtrix and our target column. 
X = new_train.drop(["id", "loss"], axis=1)
y = new_train["loss"]

However, one thing to note is that some of the answers captured in our training matrix is not shared with our test matrix. As a result, the final training feature matrix and test feature matrix will have different dimensions and column names. Again, this is due to the fact that someone may have not chose cat116_U in our test matrix, but chose it in our training matrix.

As such, we shoulud make sure that the features we select are shared between the test and training set to remain consistent throughout our training and prediction pipelines.

In [25]:
# We proceed by applying the same transformations to our test set that we just applied to our training set.
# We first isolate the id column of our test data. This will help us when we go to make our submission
test_ids = test["id"]

# We then put our test dataframe through our categorical feature conversion process
new_test = categorical_conversion(test)

# We then drop the id column
test_X = new_test.drop("id", axis=1)

In [26]:
# We then create a shared feature matrix so that our training and test matrices have the same dimensions
shared_columns = [column for column in test_X.columns if column in X.columns]

In [27]:
# We then filter both dataframes to contain the same columns
test_X = test_X[shared_columns]
X = X[shared_columns]

In [28]:
# We now proceed to split our training set and create a cross validation set to help us assess if we are overfitting our underfitting
threshold = int(len(X) * .7)
train_X, cv_X = X[:threshold], X[threshold:]
train_y, cv_y = y[:threshold], y[threshold:]

In [29]:
# Let's ensure that our matrices have the same dimenstions
train_X.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,...,cat116_MU,cat116_MV,cat116_MW,cat116_O,cat116_Q,cat116_R,cat116_S,cat116_T,cat116_U,cat116_Y
0,0.726300,0.245921,0.187583,0.789639,0.310061,0.718367,0.335060,0.30260,0.67135,0.83510,...,0,0,0,0,0,0,0,0,0,0
1,0.330514,0.737068,0.592681,0.614134,0.885834,0.438917,0.436585,0.60087,0.35127,0.43919,...,0,0,0,0,0,0,0,0,0,0
2,0.261841,0.358319,0.484196,0.236924,0.397069,0.289648,0.315545,0.27320,0.26076,0.32446,...,0,0,0,0,0,0,0,0,0,0
3,0.321594,0.555782,0.527991,0.373816,0.422268,0.440945,0.391128,0.31796,0.32128,0.44467,...,0,0,0,0,0,0,0,0,0,0
4,0.273204,0.159990,0.527991,0.473202,0.704268,0.178193,0.247408,0.24564,0.22089,0.21230,...,0,0,0,0,0,0,0,0,0,0

In [30]:
test_X.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,...,cat116_MU,cat116_MV,cat116_MW,cat116_O,cat116_Q,cat116_R,cat116_S,cat116_T,cat116_U,cat116_Y
0,0.321594,0.299102,0.246911,0.402922,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,...,0,0,0,0,0,0,0,0,0,0
1,0.634734,0.620805,0.654310,0.946616,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,...,0,0,0,0,0,0,0,0,0,0
2,0.290813,0.737068,0.711159,0.412789,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,...,0,0,0,0,0,0,0,0,0,0
3,0.268622,0.681761,0.592681,0.354893,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,...,0,0,0,0,0,0,0,0,0,0
4,0.553846,0.299102,0.263570,0.696873,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,...,0,0,0,0,0,0,0,0,0,0

Both matrices have 1,079 columns. Our transformation worked! We now proceed to actually building, training, and applying our models.

### Model 1: Linear Regression

In [31]:
# We first create our model and then 
lr = LinearRegression()
lr.fit(train_X, train_y)

LinearRegression()

In [32]:
# We then generate predictions on the training set and cv set to help us determine if our model is over/underfitting
# We will use a function to help us accomplish this task for each of our four models
def cross_validate_score(model):
    train_preds = model.predict(train_X)
    cv_preds = model.predict(cv_X)
    train_mae = mean_absolute_error(train_y, train_preds)
    cv_mae = mean_absolute_error(cv_y, cv_preds)
    print(f"The model in this section had a training MAE of {round(train_mae, 5)}.")
    print(f"The model in this section had a cross-validation MAE of {round(cv_mae, 5)}.")

In [33]:
cross_validate_score(lr)

The model in this section had a training MAE of 1287.55729.
The model in this section had a cross-validation MAE of 120574716.41838.

Conclusion: Linear Regression is severely overfitting. Let's modify this model slightly by incorporating regularization parameters.

### Model 2: Ridge Regression

In [34]:
# We first import the ridge regression class
from sklearn.linear_model import Ridge

In [35]:
rr = Ridge(alpha=0.7)
rr.fit(train_X, train_y)

Ridge(alpha=0.7)

In [36]:
cross_validate_score(rr)

The model in this section had a training MAE of 1289.71248.
The model in this section had a cross-validation MAE of 1303.04345.

### Model 3: XGBoost

In [52]:
xgb = XGBRegressor(objective="reg:squarederror", n_estimators=100, max_depth=4, reg_alpha=10)
xgb.fit(train_X, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=4, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=10, reg_lambda=1, ...)

In [53]:
cross_validate_score(xgb)

The model in this section had a training MAE of 1172.29201.
The model in this section had a cross-validation MAE of 1206.93484.

Conclusion: A way more balanced model than our regular linear regression model, and possibly our best model yet.

### Model 4: Random Forest

For our random forest model, I wanted to implement a GridSearchCV pipeline to obtain the appropriate hyperparameters. However, due to the large scale nature of the dataset from Allstate, my computer, while by no means a pea-shooter, simply could not process the large number of models efficiently. As a result, I had to settle for a regular RandomForestRegressor model with n_estimators equal to 50 to be able to efficiently get a result for my model (it took about 10 minutes to train).

It is well documented that RF models do not scale well to large datasets. Now I know why. Due to my lack of patience, I won't be performing GridSearch to help try and improve my overfitting problem.

In [39]:
# We then define our RandomForestRegressor class. We adjust the min_samples_leaf hyperparameter to help "regularize" our model
rfr = RandomForestRegressor(n_estimators=100, min_samples_leaf=4)

In [40]:
rfr.fit(train_X, train_y)

RandomForestRegressor(min_samples_leaf=4)

In [41]:
# Let's run this through our MAE function
cross_validate_score(rfr)

The model in this section had a training MAE of 728.38175.
The model in this section had a cross-validation MAE of 1228.22401.

Conclusion: Our best function yet! However, it is definitely still overfitting. This is something we will look to correct going forward.

### Generating our Kaggle Submissions

The time has not finally come for us to apply our models to the test set. Once our test set has been properly converted, we will export the answers to a csv file. We will then submit these to Kaggle and report the results in the conclusion section

In [64]:
def kaggle_submission(model, file_name):
    loss = model.predict(test_X)
    mapped = {0: 'loss'}
    submission_df = pd.DataFrame(loss, index=test_ids).rename(mapper=mapped, axis=1)
    submission_df.to_csv(file_name)

In [68]:
# Model 2
kaggle_submission(rr, "ridge_reg.csv")

In [66]:
# Model 3
kaggle_submission(xgb, "xgb.csv")

In [67]:
# Model 4
kaggle_submission(rfr, "random_forest.csv")

## Conclusion

After a lot of hardwork and fine tuning, let's dig into the results and see how we scored on our model. My hypothesis is that our XGB model will perform the best, while our ridge regression model will perform the worst. Here are our results:
1. XGBoost: 1194 (good enough for about 2203/3047 on the leaderboard)
2. Random Forest: 1223
3. Ridge Regression: 1293

These were the order with which I expected the models to come in. I'm happy that our XGBoost model was as good as it is, however, I would definitely like to make some improvements here. I will probably come back at somepoint and perform GridSearchCV on this model. Another idea I had was to check and see if there are any outliers in our training data. This might improve performance slightly.